.link {
  display: inline-block;
  font-size: 1rem;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
}

.link:hover {
  font-weight: 800;
}

.link::before {
  content: "";
  position: absolute;
  width: 0%;
  bottom: -0.7rem;
  left: 0;
  height: 4px;
  background-color: var(--text-color);
  transition: all 0.2s;
}

.link:hover::before,
.link.active::before {
  width: 100%;
}

.link.active {
  font-weight: 800;
}

@media (max-width: 768px) {
  .link::before {
    visibility: hidden;
  }
}
